@import 'tailwindcss';

@theme {
  --font-sans: Switzer, system-ui, sans-serif;
  --radius-4xl: 2rem;
  
  /* Add your primary color */
  --color-primary: #fd3bb8;
}

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}
